img {
    width: 100%;
    max-width: 100px;
}
.table-action {
    cursor: pointer;
}
.table-action svg {
    color: #6c757d;
}

.table-action svg:hover {
    color: #212529;
}

.custom-tab.tab-vertical .nav-tabs {
    margin-right: 10px;
    background: white;
}

.custom-tab.tab-vertical .nav-tabs .nav-link.active {
    background: #3F80EA;
    color: white;
}

.custom-tab.tab-vertical .nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.custom-tab.tab-vertical .nav-link:hover:not(.active) {
    color: #495057;
    text-decoration: none;
    background-color: #f4f7f9;
}